/************************************************************
                    background
*************************************************************/


/*Set height for everything to 100%*/

html, body, .signup_login, .main_screen, .chatroom_interior {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #4C86A8;
}

.main_screen {
  padding-top: 5%;
}


/************************************************************
                    Navigation Bar
*************************************************************/


/*nav bar layout*/

.nav_bar {
  width: 100%;
  height: 15%;
  position: fixed;
  margin: 0px;
  list-style-type: none;
  padding-left: 2.5%;
  background-color: #FF8360;
}

.nav_bar .login {
  cursor: pointer;
}

.nav_bar .signup {
  cursor: pointer;
}


/*Jabber Jam list element*/

.nav_el {
  display: inline-block;
  padding: 0px 7% 0px 0px;
}


/*Sign Up/ Login list element*/

.nav_el2 {
  display: inline-block;
  padding-right: 10px;
}


/*User list element*/

.nav_user {
  display: inline-block;
  padding-right: 10px;
}


/*Jabber Jam font stuff*/

.home {
  display: block;
  margin: 7.5px 0px;
  padding: 5px 0px;
  height: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}


/*Jabber Jam hyperlink pseudoclasses*/

.home:link {
  color: black;
}

.home:visited {
  color: black;
}


/*Login/signup font stuff*/

.login, .signup {
  margin: 7.5px 0px;
  padding: 5px 0px;
  height: 25px;
  font-weight: bold;
  font-size: 20px;
}


/*Username font stuff*/

.username {
  margin-right: 30%;
  height: 25px;
  font-weight: bold;
  font-size: 20px;
}


/************************************************************
                        Main
*************************************************************/


/*fieldset default*/

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
