<div class=" main_hide_show row">
  <div class="col-12">
    <div class="find_chatrooms">
      <form class="chatroom_form" action="" method="post">
        <fieldset>
          <legend class="chatroom_legend">Create a Chatroom</legend>
          <label for="title">Title</label>
          <input type="text" placeholder="Kuroko no Basket" id="title" name="title" required/>
          <label for="category">Category</label>
          <input type="text" placeholder="Anime" id="category" name="category" required/>
        </fieldset>
        <button type='submit'>Create Chatroom</button>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="list_chatroom"></div>
  </div>
  <div class="col-6">
    <div class="category_list"></div>
  </div>
</div>
<!-- <div class="single_chatroom">
  <div class="delete_update"></div>
  <div class="chatbox">
    <ul class="conversation"></ul>
  </div>
  <form class="messages" action="index.html" method="post">
    <input id="text" type="text" class="messageBox">
    <input id="button" type="submit" class="sendButon" value="Send">
  </form> -->
</div>
