/************************************************************
                        Grid Layout
*************************************************************/


/*Makes sure everything is the same size*/

* {
  box-sizing: border-box;
}


/*Setting the grid layout*/

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /*position:relative;
  top:13%;*/
}


/*Clearfix*/

.row::before, .row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}


/*3 columns*/

.col-4, .col-6, .col-12 {
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/*Mobile*/

.col-4, .col-6 .col-12 {
  width: 100%;
}


/************************************************************
                    Media Screens
*************************************************************/


/*smaller screen than 540px*/

@media only screen and (min-width:720px) {
  /*Nav bar stuff*/
  .nav_el {
    padding: 0px 70% 0px 0px;
  }
  .nav_user {
    padding: 0px 0px 0px 10%;
  }
  /*Main screen stuff*/
  .col-4 {
    width: 25%;
  }
  .col-6 {
    width: 50%;
  }
  .col-4, .col-6, .col-12 {
    float: left;
  }
  .list_chatroom {
    margin-top: 60px;
  }
  .category_list {
    position: static;
    height: 70%;
    width: 100%;
    margin-top: 60px;
  }
  .category_list li {
    display: block;
  }
  /*signup login form stuff*/
  .container {
    width: 70%;
    height: 60%;
  }
}


/*Larger screen than 720px*/

@media only screen and (max-width:540px) {
  /*Nav bar stuff*/
  .nav_el {
    padding: 0px 20% 0px 3%;
  }
}
